.workContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
    position: relative;
    background: linear-gradient(
        145deg,
        rgba(8, 8, 8, 0.548) 0%,
        var(--green-transparent) 100%
    );
    backdrop-filter: blur(4px); /* Difumina lo que está detrás */
    -webkit-backdrop-filter: blur(4px); /* Compatibilidad con Safari */
    border-radius: 5px;
    padding: 20px;
    border-top: 1px solid var(--green-transparent);
    border-left: 1px solid var(--dark-green);

    img {
        width: 100px;
        height: 100px;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.508);
        border-radius: 5px;
    }
    .work {
        width: 100%;
        .titleWork {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            h2 {
                padding-left: 25px;
                strong {
                    color: var(--light-green);
                }
            }
            h4 {
                color: white;
                padding-left: 25px;
                background-clip: text;
                background: -webkit-linear-gradient(
                    190deg,
                    var(--light-green),
                    white
                );
                font-weight: 700;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .description {
            margin-top: 10px;
            padding-left: 25px;
            font-weight: 200;
        }
        .techs {
            color: white;
            border-radius: 10px;
            /* background-color: var(--green); */
            background: linear-gradient(
                270deg,
                rgba(59, 140, 102, 0.5) 25%,
                rgba(96, 191, 129, 0.5) 100%
            );

            margin-top: 15px;
            margin-left: 25px;
            padding: 10px 15px;
            text-align: center;
        }
    }
}
