:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    --dark-blue: #223240;
    --dark-blue-transparent: #223240b0;
    --green: #3b8c66;
    --green-transparent: #3b8c666c;
    --dark-green: #347355;
    --light-green: #60bf81;
    --lima-green: #93d94e;
    color-scheme: light dark;
    color: white;
    background-color: var(--dark-blue);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
#root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
